/* 全体のスタイル */
body {

}

.green-zone {
    background-color: aquamarine;
}

.green-zone .header-menu {
    font-family: sans-serif;
    font-size: 15px;
}

.profile {
    display: flex;
}

.profile img {
    width: 180px;
    height: 180px;
    padding: 8px;
    border-radius: 50%;
    border: 1px solid white;
}
}